{% extends 'recipes/base.html' %}
{% load static %}
{% block heading %}
    <div class="jumbotron">
        <h1 class="display-4"><img src="{% static 'Cookie-monster.jpg' %}" alt="Cookie Monster"> Cookie Monster Cookie Catalog</h1>
        <p class="lead">Enter your favorite cookie recipes.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" id="add-recipe-button" href="{% url 'recipes_recipe_add' %}" role="button">Add Recipe</a>
    </div>
{% endblock heading %}
{% block content %}
<div>
    <ul class="list-group t20">
    {% for Recipe in recipes %}
    <li class="list-group-item">{{ Recipe.title }}</li>
    <li>"Test"</li>
    {% endfor %}
</ul>
</div>
{% endblock content %}
from django.contrib import admin
from .models import Post

admin.site.register(Post)

