
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
<link rel="stylesheet" href="styles.css">
    <div class="jumbotron">
        <h1 class="display-4"><img src="Cookie-monster.jpg" alt="Cookie Monster"> Cookie Monster Cookie Catalog</h1>
        <p class="lead">Enter your favorite cookie recipes.</p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" id="add-recipe-button" href="{% url 'recipes_recipe_add' %}" role="button">Add Recipe</a>
    </div>

